name: Upload and Download Artifact Workflow

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Generate report
        run: |
          echo "ALL TEST CASES PASSED" > report.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: report.txt

  download:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: test-report

      - name: Verify downloaded file
        run: |
          echo "Downloaded files:"
          ls -l
          cat report.txt
